// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frameC9 {
  position: absolute;
  top: 25vh;
  right: 0px;
  width: 400px;
  height: 400px;
  z-index: 1;
  //background-color: rgba(255, 0, 0, 0.5);

  .center {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: perspective(180px);
    transform-style: preserve-3d;
    z-index: 0;
  }

  $numberOfForms: 10;
  $time: 50;
  $delay: 0;
  @for $i from 1 through $numberOfForms {
    $delay: $time/$numberOfForms * ($i - 1);
    #c9f#{$i} {
      animation: moveYourFormC9 $time + s ease-in-out $delay + s infinite both;
    }
  }

  .form {
    z-index: 100;
    position: absolute;
    top: 140px;
    left: 125px;
    height: 54px;
    width: 200px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);
    color: rgba(100, 100, 100, 1);
    cursor: pointer;

    .heading {
      //height: 15px;
      //padding: 10px;
      margin: 0px;
      //font-weight: 900;
      font-size: 36px;
      text-align: center;
    }
  }

  @keyframes moveYourFormC91 {
    0% 100% {
      transform: translate3d(0);
      background-color: rgba(0, 0, 0, 0.5);
      color: rgba(100, 100, 100, 1);
    }
    10% {
      transform: translate3d(0px, -120px, -20px);
      background-color: rgba(175, 175, 175, 0.5);
      color: rgba(100, 100, 100, 1);
    }
    20% {
      transform: translate3d(0px, -180px, -40px);
      color: rgba(100, 100, 100, 1);
    }
    30% {
      transform: translate3d(0px, -120px, -60px);
      color: rgba(100, 100, 100, 0);
    }
    40% {
      transform: translate3d(0px, -60px, -80px);
      color: rgba(100, 100, 100, 0);
    }
    50% {
      transform: translate3d(0px, 0px, -100px);
      color: rgba(100, 100, 100, 0);
    }
    60% {
      transform: translate3d(0px, 60px, -80px);
      color: rgba(100, 100, 100, 0);
    }
    70% {
      transform: translate3d(0px, 120px, -60px);
      color: rgba(100, 100, 100, 0);
    }
    80% {
      transform: translate3d(0px, 180px, -40px);
      color: rgba(100, 100, 100, 1);
    }
    90% {
      transform: translate3d(0px, 120px, -20px);
      background-color: rgba(175, 175, 175, 0.5);
      color: rgba(100, 100, 100, 1);
    }
  }
}
