body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.modal {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.bg-dark-o {
  background-color: #171717 !important;
}

.red {
  color: #790000;
}

.bgRed {
  background-color: #790000;
}

.green {
  color: #134900;
}

.bgGreen {
  background-color: #134900;
}

.white {
  color: white;
}

.center {
  text-align: center;
}

.h15 {
  height: 15vh;
}

.h22 {
  height: 22vh;
}

.h26 {
  height: 26vh;
}

.h31 {
  height: 31vh;
}

.h40 {
  height: 40vh;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w33 {
  width: 33%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w66 {
  width: 66%;
}

.small {
  font-size: 1.5vh !important;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.scroll_ {
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll_::-webkit-scrollbar {
  width: 10px;
}

.scroll_::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.scroll_::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.scroll_::-webkit-scrollbar-thumb:hover {
  background: #555;
}
