// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 401px,
  md: 601px,
  lg: 961px,
  xl: 1281px,
  xxl: 1921px,
);

$container-max-widths: (
  sm: 380px,
  md: 580px,
  lg: 900px,
  xl: 1200px,
  xxl: 1900px,
);

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

// colors
$bgGreen50: rgba(19, 73, 0, 0.5);
$bgGreen: rgba(19, 73, 0, 1);
$bgGrey: rgba(232, 232, 232, 1);
$bgWhite: rgba(255, 255, 255, 1);
$bgRed: rgba(121, 0, 0, 1);
$typoGrey: rgba(64, 64, 64, 1);
$typoGreen: rgba(19, 73, 0, 1);
$typoRed: rgba(121, 0, 0, 1);
$shadowGrey: rgba(122, 122, 122, 1);

// body
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  backdrop-filter: blur(6px);
}

.bg-dark-o {
  background-color: rgba(23, 23, 23, 1) !important;
}

// colors
.red {
  color: $typoRed;
}

.bgRed {
  background-color: $bgRed;
}

.green {
  color: $typoGreen;
}

.bgGreen {
  background-color: $bgGreen;
}

.white {
  color: $bgWhite;
}

.center {
  text-align: center;
}

// heights
.h15 {
  height: 15vh;
}

.h22 {
  height: 22vh;
}

.h26 {
  height: 26vh;
}

.h31 {
  height: 31vh;
}

.h40 {
  height: 40vh;
}

// widths
.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w33 {
  width: 33%;
}

.w50 {
  width: 50%;
}

.w66 {
  width: 66%;
}

// typography
.small {
  font-size: 1.5vh !important;
}

.big {
  font-size: 10vh;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

@import '../node_modules/bootstrap/scss/bootstrap';
